{% extends "index.html" %}
{% block conteudo %}
<h1 class="comments-count">Plano</h1>

              <div class="reply-form">

<!--                <h4>Leave a Reply</h4>-->
<!--                <p>Your email address will not be published. Required fields are marked * </p>-->
                <form action="{{ url_for('cadastro_plano') }}" method="POST">
                  <div class="row">
                    <div class="col form-group">
                      <label for="valor">valor</label>
                      <input name="valor" id="valor" type="text" class="form-control" placeholder="" required>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <label for="categoria">categoria</label>
                      <input name="categoria" type="text" id="categoria" class="form-control" placeholder="" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                  </div>
                </form>
              </div>