{% extends "index.html" %}
{% block conteudo %}
<h4 class="comments-count"> listar catalogo</h4>
  <div class="reply-form">

    <table class="table">
      <thead>
        <th>Código</th>
        <th>Nome</th>
        <th>genero</th>
        <th>sinopse</th>
        <th>duracao</th>
        <th>dt_lancamento</th>

      </thead>
      <tbody>
      {% if catalogo %}
        {% for p in catalogo %}
          <tr>
            <td>{{ p[0] }}</td>
            <td>{{ p[1] }}</td>
            <td>{{ p[2] }}</td>
            <td>{{ p[3] }}</td>
            <td>{{ p[4] }}</td>
            <td>{{ p[5] }}</td>
            <td>Excluir | <a href="{{ url_for('atualizar_catalogo', codigo=p[0]) }}">Editar</a></td>
          </tr>
        {% endfor %}
      {% else %}
        <p>Nenhum item foi encontrado</p>
      {% endif %}
      </tbody>
    </table>
  </div>
{% endblock conteudo %}



